[client]
!include ~/.my.cnf.secret
# Turn on the LOAD DATA INFILE statement
#local-infile = on

[mysql]
# STOP DYING WITH CTRL + C !!!
# Still doesn't reset the prompt in MariaDB
sigint-ignore

# Automatically use vertical output when it's wider than my screen
#auto-vertical-output

# Auto rehash for command completion
auto-rehash

# Prompt fun, he's flipping a table. Heh.
prompt="\n[\d]   (╯°□°）╯- ┻━┻ > "

# Another local infile alias.
# Use it if the previous one clashes with other MySQL tools.
loose-local-infile = on
